.postDetailImage img {
    width: 100%;
    height: 472px;
}
.headingTitle{
    font-weight: bold;
    margin-top: 1%;
    font-size: 14px;
}
.desciptionDetail{
    font-size: 12px;
}
/* Little post details */
.littlePostDetails{
	font-size:12px;
	opacity:.5;
}
.littlePostDetailText{
	font-size:12px;
	font-weight: bold; 
	opacity:.5;
}
button:focus {outline:0;}

.headingStyle{
	font-size: 15px;
    font-weight: bold;
}
.contentDetail{
    padding: 2%;
}


.TrendingButton{
  
    font-size: 12px;
    letter-spacing: 0.5px;
   
}
.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
	background-color: #FE4336;
}