
/*********************************
3.4 Main Navigation
*********************************/

.main_nav_container
{
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}
.navbar
{
	width: auto;
	height: 100px;
	float: right;
	padding-left: 0px;
	padding-right: 0px;
}

.navbar_menu li
{
	display: inline-block;
}
.navbar_menu li a
{
	display: block;
	color: #1e1e27;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 20px;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.navbar_menu li a:hover
{
	color: #b5aec4;
}


.navbar_user
{
	margin-left: 37px;
}
.navbar_user li
{
	display: inline-block;
	text-align: center;
}
.navbar_user li a
{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 40px;
	height: 40px;
	color: #1e1e27;

	transition: color 0.3s ease;
}
.navbar_user li a:hover
{
	color: #b5aec4;
}
.notify a
{
	background: #eceff6;
	border-radius: 50%;
}
.notify_icon
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -9px;
	left: 22px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fe4c50;
	font-size: 12px;
	color: #FFFFFF;
}



/*********************************
 Search
**********************************/
.search{
	border:none;
	border-bottom: 1px solid #282A3A;
	font-size: 12px;
	width: 0px;

}
.search-frm:hover .search{
	width: 130px;
	transition: width 0.4s ease-in-out
}
.search:focus{
	width: 130px;
}
.search-icon{
	padding-right: 5px;
}
.search:focus{
	outline: none;
}

/*********************************
3.6 Logo
*********************************/

.logo_container
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
}
.logo_container:hover{
	cursor: pointer;
}
.logo_container:focus{
	outline: 0;
}



@media only screen and (max-width: 991px)
{
	h1{font-size: 48px;}
	h2{font-size: 36px;}

	
}

ul{
	list-style: none;
	margin-bottom: 0px;
}

@media only screen and (max-width: 479px)
{




	

	.menu_item
	{
		border-bottom-color: rgba(181, 174, 196, 0.5);
	}
	.menu_item > a
	{
		font-size: 12px;
		line-height: 35px;
		height: 35px;
	}

	
	.navbar
	{
		height: 70px;
	}
	.navbar_user li a
	{
		width: 30px;
		height: 30px;
		font-size: 12px;
	}

	.menu_selection li a
	{
		font-size: 12px;
		line-height: 35px;
		height: 35px;
	}

	
}