<div class="banner">
    <div class="headingCategories">
      <p>Categories</p>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="banner_item align-items-center" style="background-image:url(assets/images/cat1.jpg)">
            <div class="banner_category">
              <a [routerLink]="[ '/category', 'business' ]">business</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="banner_item align-items-center" style="background-image:url(assets/images/cat2.jpg)">
            <div class="banner_category">
              <a [routerLink]="[ '/category', 'Entertainment' ]">entertainment</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="banner_item align-items-center" style="background-image:url(assets/images/cat3.jpg)">
            <div class="banner_category">
              <a [routerLink]="[ '/category', 'General' ]">general</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="banner_item align-items-center" style="background-image:url(assets/images/cat4.jpg)">
              <div class="banner_category">
                <a [routerLink]="[ '/category', 'Health' ]">health</a>
              </div>
            </div>
        </div>
      </div>
      <br>
      <div class="row ">
          <div class="col-md-4">
            <div class="banner_item align-items-center" style="background-image:url(assets/images/cat5.jpg)">
              <div class="banner_category">
                <a [routerLink]="[ '/category', 'Science' ]">science</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="banner_item align-items-center" style="background-image:url(assets/images/cat6.jpg)">
              <div class="banner_category">
                <a [routerLink]="[ '/category', 'Sports' ]">sports</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
              <div class="banner_item align-items-center" style="background-image:url(assets/images/cat7.jpg)">
                <div class="banner_category">
                  <a [routerLink]="[ '/category', 'Technology' ]">technology</a>
                </div>
              </div>
          </div>
    </div>
  
      
    </div>
  </div>