


@media only screen and (max-width: 991px)
{

	.main_slider_content
	{
		width: 100%;
		padding-right: 15px;
	}
	.logoImageSlider{
		display: none;
	}
	

	
}



/*********************************
3.7 Main Slider
*********************************/
.logoImageSlider{
	margin-left: 15%;
	width: 16%;

}
.fill_height
{
	height: 100%;
}
.main_slider
{
	width: 100%;
	
    height: 782px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 150px;
	
}
.main_slider_content
{
	width: 60%;
	float: left;
}
.main_slider_content h6
{
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 29px;
}
.main_slider_content h1
{
	font-weight: 400;
	line-height: 1;
}
.red_button
{

	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 40px;
	background: #fe4c50;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.red_button:hover
{
	background: #FE7C7F !important;
}
.red_button a
{
	display: block;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	line-height: 40px;
	width: 100%;
}
.shop_now_button
{
	width: 140px;
	margin-top: 32px;
}

@media only screen and (max-width: 476px)
{
	.main_slider
	{
		height: calc(100vh - 70px);
		/*height: 80vw;*/
		min-height: auto;
	}
	.logoImageSlider{
		display: none;
	}
	.main_slider_content h6
	{
		margin-bottom: 15px;
	}
	.main_slider_content h1
	{
		font-size: 24px;
	}

	
}