/* You can add global styles to this file, and also import other style files */

body
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	background: #FFFFFF;
	color: #1e1e27;
}


a {
    text-decoration: none
}